{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Site Key',
    instructions: 'Create or get the site key in your <a href="https://www.google.com/recaptcha/admin">dashboard</a>',
    id: 'googleRecaptchaSiteKey',
    name: 'captchaSettings['~captchaId~'][googleRecaptchaSiteKey]',
    required: true,
    errors: null,
    value: settings['googleRecaptchaSiteKey'] ?? null
}) }}

{{ forms.textField({
    label: 'Secret key',
    instructions: 'Create or get the secret key in your <a href="https://www.google.com/recaptcha/admin">dashboard</a>',
    id: 'googleRecaptchaSecretKey',
    name: 'captchaSettings['~captchaId~'][googleRecaptchaSecretKey]',
    required: true,
    value: settings['googleRecaptchaSecretKey'] ?? null
}) }}